
<center>
	<div class="jumbotron">
		<h1>Our Mission</h1>
		<h3>Here at Sportsmenscope we harness the power of sports fans throughout the world.  We allow those who watch sports to be empowered. Through a honest and realistic fan-review based system utilizing high-powered algorithms we strive to reflect how people view the actions that athlete's take.  By giving athletes an objective number we hold them accountable for their actions.
	<div/>
</center>