<div class="container">
<%= image_tag "Jlin.png" %>
	<h4> Jeremy Lin </h4>
	<h2> Reviews </h3>

<table style="width:200px">
<tr>
  <th></th>
  <th></th> 
</tr>


<div class="userentry">
	<%= image_tag "icon.jpg" %>
		<div class="usercomment">
			<td><p> User 1 </p></td>
			<td><p>Humbleness, Sportsmenship, Ethics</p></td>
		</div>
</div>


</table>
</div>