<div class="container">
<h1>Top Charts</h1>
<h3>Most Beloved</h3>

<table class="table table-striped table-bordered table-hover">
	<tr>
		<th>Rank</th>
		<th>Name</th>
		<th>SPS Score</th>
		<th>Humbleness</th>
		<th>Sportsmanship</th>
		<th>Ethics</th>
	</tr>
	<tr>
		<td>1</td>
		<td>Jeremy Lin </td>
		<td>5</td>
		<td>4.9</td>
		<td>4.9</td>
		<td>5</td>
	</tr>
</table>

<h3>Most Hated</h3>
<table class="table table-striped table-bordered table-hover">
	<tr>
		<th>Rank</th>
		<th>Name</th>
		<th>SPS Score</th>
		<th>Humbleness</th>
		<th>Sportsmanship</th>
		<th>Ethics</th>
	</tr>
	<tr>
		<td>1</td>
		<td>Jeremy Lin </td>
		<td>5</td>
		<td>4.9</td>
		<td>4.9</td>
		<td>5</td>
	</tr>
</table>
</div>
